**What is Python ?**

Python is a high-level, interpreted programming language known for its simplicity, readability, and versatility. It was created by Guido van Rossum and first released in 1991.

**Here‚Äôs a quick overview:**

**Key Features**

**Readable and simple syntax** ‚Äì Python code looks like plain English, making it beginner-friendly.


**Interpreted** ‚Äì You don‚Äôt need to compile it; the interpreter runs code directly.


**Dynamically typed** ‚Äì You don‚Äôt need to declare variable types explicitly.


**Cross-platform** ‚Äì Works on Windows, macOS, Linux, and more.


**Large standard library** ‚Äì Includes built-in modules for tasks like math, file I/O, web access, and more.


**Extensive community** ‚Äì Thousands of third-party libraries for data science, web development, AI, etc.


**Common Uses**

Web development (e.g., Django, Flask)


Data analysis and visualization (e.g., Pandas, Matplotlib)


Machine learning and AI (e.g., TensorFlow, PyTorch)


Automation and scripting


Game development


Software testing and DevOps


# Example Code

**Simple Python program**

name = "World"

print(f"Hello, {name}!")

# Output:

Hello, World!

**How to start coding in python ??**

**Step 1: Install Python**

**On Windows / macOS / Linux:**

Go to the official website: python.org/downloads


Download the latest version (e.g., Python 3.x.x).


During installation, make sure you check ‚úÖ ‚ÄúAdd Python to PATH.‚Äù


You can verify the installation by opening a terminal (or Command Prompt) and typing:
python --version

It should print something like:
Python 3.12.2

<img src='./Screenshot 2025-10-28 095339.png'>

**Step 2: Choose a Code Editor or IDE**

You can write Python code in any text editor, but these are popular options:

<li>VS Code (free, beginner-friendly)</li>


<li>PyCharm (great for larger projects)</li>


<li>Jupyter Notebook (for data science and experimentation)</li>


<li>IDLE (comes with Python by default)</li>

**What is a Program??**

A program is a set of instructions written in a programming language that tells a computer how to perform a specific task.

**Python Basics:**

**What Is print()?**

The print() function is used to display text or data on the screen (standard output).


print("Hello, World!")

**Output:**

Hello, World!

**Basic Syntax:**

print(object1, object2, ..., sep=' ', end='\n')

In [1]:
print("Hello World!")

Hello World!

In [1]:
print("x","y")

x y

In [2]:
print("x","y",sep="")

xy

In [3]:
print("x","y",sep="a")

xay

In [4]:
print(1,2,sep="0")

102

In [5]:
print(1,2,sep=0)

TypeError: sep must be None or a string, not int

In [6]:
print(1,2,sep="0")
print("This will generate a new line")

102
This will generate a new line

In [7]:
print(1,2,sep="0",end="\n")# "\n" means new line
print("This will generate a new line")

102
This will generate a new line

In [8]:
print(1,2,sep="0",end=" ")
print("This will not generate a new line")

102 This will not generate a new line

In [11]:
print("Hi")
print("I am ashwani")

Hi
I am ashwani

In [13]:
print("Hi",end="")
print("I am ashwani")

HiI am ashwani

In [14]:
print("Hi",end=" ")
print("I am ashwani")

Hi I am ashwani

In [15]:
print("Hello World!")
print('Hello World!')

Hello World!
Hello World!

In [16]:
print("Hello 'World'")

Hello 'World'

In [17]:
print('Hello "World"')

Hello "World"

In [18]:
print('''Hello
      World''')

Hello
      World

**Variables**

A variable is like a box that you use to store information ‚Äî like a name tag on something you want to remember later.

You can put a value inside it, read it, or change it anytime.

**Example:**

Imagine you have a box and you write a label on it called age.

Then you put a number inside it ‚Äî say, 20.

age = 20

Now, whenever you say age, Python knows you‚Äôre talking about the number 20.

**Another example:**

name = "Alice"

height = 165

is_student = True


You can think of it like this:

The label (variable name) = what you call your box (name, height, is_student)

The value inside = what‚Äôs stored in that box ("Alice", 165, True)

Rules for naming variables in Python
1Ô∏è‚É£ It must start with a letter or an underscore (_)

‚úÖ Valid:

name = "Alice"

_age = 20


‚ùå Invalid:

1name = "Alice"  #can‚Äôt start with a number

2Ô∏è‚É£ It can contain letters, numbers, and underscores

‚úÖ Valid:

student_name = "Bob"

age2 = 18


‚ùå Invalid:

student-name = "Bob"  # hyphen not allowed

student name = "Bob"  # space not allowed

3Ô∏è‚É£ Variable names are case-sensitive

name = "Alice"

Name = "Bob"

print(name)  # Alice

print(Name)  # Bob


üëâ name and Name are different variables.

4Ô∏è‚É£ Don‚Äôt use Python keywords

These are special words Python already uses (like for, if, class, while, etc.).
If you use them, Python gets confused.

‚ùå Invalid:

class = "AI"  # 'class' is a keyword


‚úÖ Fix:

course_class = "AI"

üß© Naming Style (what good programmers do)

Python uses a style called snake_case:

Use lowercase letters

Use _ to separate words

‚úÖ Examples:

user_name = "Alice"
total_score = 95
file_path = "data.csv"


‚ùå Avoid:

UserName = "Alice"      # Java-style (camelCase)
totalScore = 95         # not Pythonic

You can also change what‚Äôs inside the box

age = 20

age = 21

****Basic Data Types:****

1Ô∏è‚É£ **Integer (int) ‚Äì Whole numbers**

Example:

age = 20

apples = -5


üì¶ Think of it as numbers you can count ‚Äî no decimal points.

Use for: age, score, quantity, etc.

2Ô∏è‚É£ **Float (float) ‚Äì Numbers with decimals**

Example:

height = 5.8

price = 19.99


üíß ‚ÄúFloat‚Äù means it has a floating-point (decimal).

Use for: money, measurements, or anything needing decimals.

3Ô∏è‚É£ **String (str) ‚Äì Text or words**

Example:

name = "Alice"

greeting = 'Hello!'


üìù Strings are just letters, words, or sentences inside quotes " " , ' ' or """ """ / ''' ''''.

Use for: names, messages, file paths, etc.

4Ô∏è‚É£ **Boolean (bool) ‚Äì True or False**

Example:

is_student = True

has_passed = False


‚öôÔ∏è Think of it like a light switch ‚Äî either ON (True) or OFF (False).

Use for: yes/no questions or conditions.

5Ô∏è‚É£ **List (list) ‚Äì A group of items**

Example:

fruits = ["apple", "banana", "cherry"]


üç± Lists are like boxes with smaller boxes inside.

You can store many values together and even mix types.

Access items like:

print(fruits[0])  # apple

6Ô∏è‚É£ **Tuple (tuple) ‚Äì Like a list, but can‚Äôt change**

Example:

colors = ("red", "green", "blue")


üîí Once created, you can‚Äôt edit it.

Use for: data that shouldn‚Äôt change (like fixed coordinates).

7Ô∏è‚É£ **Dictionary (dict) ‚Äì Pairs of key and value**

Example:

person = {"name": "Alice", "age": 20}


üóÇÔ∏è Think of it like a contact card:

‚Äúname‚Äù is the key

‚ÄúAlice‚Äù is the value

You can find info easily:

print(person["name"])  # Alice

8Ô∏è‚É£ **Set (set) ‚Äì Unordered collection of unique items**

Example:

numbers = {1, 2, 3, 3, 2}

print(numbers)  # {1, 2, 3}


üßÆ Like a list, but it removes duplicates automatically.

******Operators:****** Operators are special symbols or keywords used to perform operations on values and variables ‚Äî like addition, comparison, or logical tests

# Types of Operators:

**1. Arithmetic Operators**

Used for basic mathematical operations.

In [1]:
print(2+3) # add 2, 3

5

In [2]:
print(2-3) # substracts 3 from 2

-1

In [3]:
print(2*3) # multiplies 2 by 3

6

In [7]:
print(3/2) # divides 3 by 2

1.5

In [5]:
print(3//2) # '//' is floor division. means it divides 3 by 2 but only gives the whole number part

1

In [8]:
print(3%2) # '%' is modulus. Gives the remainder after division.
#Means: 3 divided by 2 ‚Üí 1 candies each, and 1 candy left (the remainder).

1

In [9]:
print(2**3) # '**' (Exponent / Power)
#Means ‚Äúraised to the power of‚Äù.
# Means: 2 √ó 2 √ó 2 = 8

8

**Part 1: Basic Arithmetic Practice**

What will be the result of 8 + 5?

What does 20 - 7 give?

Calculate the value of 4 * 6.

What is 15 / 4?

What is the output of 15 // 4?

Find the remainder of 17 % 5.

Evaluate 2 ** 4.

What happens if you do 10 / 5?

Predict the output of 9 // 2.

What will 3 * 0.5 return?

**Part 2: Arithmetic with Variables**

If a = 10 and b = 3, what is a + b?

If x = 7 and y = 2, what is x ** y?

Let p = 20, q = 6. Find p % q.

If price = 50 and discount = 20, find the new price after discount using arithmetic operators.

If a = 5, update it to double its value using an arithmetic expression.

**Part 3: Mixed Type Operations**

What is the result of 3 + 2.5?

What will 10 / 2 return ‚Äî an integer or a float?

Predict the output type of 5 + 3.0.

What happens when you multiply an integer by a float, like 4 * 1.5?

What is the output type of 10 // 3.0?

**Part 4: Real-World Scenarios**

A pen costs ‚Çπ12 and a notebook costs ‚Çπ25. Find the total cost of 3 pens and 2 notebooks.

You have ‚Çπ250 and buy chocolates worth ‚Çπ45 each. How many chocolates can you buy and how much money will be left?

A car travels 360 km using 30 liters of fuel. Find the mileage (km per liter).

A student scores marks: 78, 85, 92, 88, 76. Find the average marks using arithmetic operators.

A shopkeeper earns ‚Çπ850 one day and ‚Çπ1230 the next. What is his average earning per day?

In [10]:
# Answer to part 4 Q 1
pen_cost = 12
book_cost = 25
total_cost = 3*pen_cost + 2*book_cost
print(total_cost)

86

In [12]:
# make the output better:
print("The total cost of 3 pens and 2 notebooks is : ‚Çπ",total_cost,sep="")

The total cost of 3 pens and 2 notebooks is : ‚Çπ86

In [13]:
# using f-strings:
print(f"The total cost of 3 pens and 2 notebooks is : ‚Çπ{total_cost}")

The total cost of 3 pens and 2 notebooks is : ‚Çπ86

**Comparison (Relational) Operators**

Used to compare values ‚Äî result is always True or False.

**What are Comparison Operators?**

These are used when you want to compare two values ‚Äî like checking:

who‚Äôs taller,

which number is bigger, or

if two things are equal.

They always give an answer in True or False (that‚Äôs called a Boolean value).

In [ ]:
print(3>5) # Greater than

False

In [ ]:
print(3<5) # Less than

True

In [16]:
print(3==5) # equals to

False

In [17]:
print(5==5)

True

In [18]:
print(5!=5) # not equals to

False

In [19]:
print(3!=5)

True

In [20]:
print(5>5)

False

In [22]:
print(5>=5) # Greater than or equal to

True

In [24]:
print(5<=5) # Less than or equal to

True

**Logical Operators:**

Logical operators are used when you want to combine or check multiple conditions at once.
They don‚Äôt work on numbers ‚Äî they work on True or False values (Boolean values).

In short:
They help Python decide ‚Äî ‚ÄúShould I do this or not?‚Äù

In [25]:
print(3>5 or 3<5)

True

In [26]:
print(5>6 or 6>7)

False

In [27]:
print(5>6 and 6>7)

False

In [28]:
print(6>5 and 6>7)

False

In [29]:
print(6>5 and 7>6)

True

In [30]:
print(5>7)

False

In [31]:
print(not 5>7)

True

In [32]:
print(not 7>5)

False

| Operator | Meaning                                                | Example                | Result  | Explanation                                   |
| -------- | ------------------------------------------------------ | ---------------------- | ------- | --------------------------------------------- |
| `and`    | Returns **True** if **both** conditions are True       | `(5 > 2) and (10 > 3)` | `True`  | Both conditions are True                      |
|          |                                                        | `(5 > 2) and (10 < 3)` | `False` | Second condition is False                     |
| `or`     | Returns **True** if **at least one** condition is True | `(5 > 2) or (10 < 3)`  | `True`  | One condition is True                         |
|          |                                                        | `(2 > 5) or (10 < 3)`  | `False` | Both conditions are False                     |
| `not`    | Reverses the result ‚Äî True ‚Üî False                     | `not(5 > 2)`           | `False` | Because `5 > 2` is True, `not` makes it False |
|          |                                                        | `not(3 > 7)`           | `True`  | Because `3 > 7` is False, `not` makes it True |

**Assignment operators** are used to store or update values in a variable.
They basically tell Python:

‚ÄúHey, put this value inside that variable.‚Äù

Think of it like putting something inside a box .
Once you name the box (variable), you can change or reuse what‚Äôs inside using these operators.

In [34]:
x = 10 #This is the basic assignment operator.
print(x)

10

In [35]:
x =3
x +=2
# += ‚Üí Add and assign

# Adds something to the current value of the variable.
print(x)

5

In [36]:
x = 3
x -=2
# -= ‚Üí Subtract and assign

# Subtracts something from the variable and saves the new value.
print(x)

1

In [37]:
# Similarly
x = 3
x *=2
print(x)

6

In [38]:
x = 3
x /=2
print(x)

1.5

In [39]:
x =3
x %=2
print(x)

1

In [40]:
x =3
x**=2
print(x)

9

In [41]:
x =3
x //=2
print(x)

1

**Membership operators** are used to check if something exists inside something else.

Think of it like asking:

‚ÄúIs this item in the list?‚Äù

‚ÄúDoes this letter exist in this word?‚Äù

They are mainly used with strings, lists, tuples, and dictionaries.

**1.** **in** ‚Üí Checks if something is present

It asks:
‚ÄúIs this value inside the collection (like a list, string, or tuple)?‚Äù

If it‚Äôs there ‚Üí ‚úÖ True

If it‚Äôs not ‚Üí ‚ùå False

In [42]:
fruits = ["apple", "banana", "mango"]
print("apple" in fruits)

True

In [43]:
print("grape" in fruits)

False

In [44]:
word = "python"
print("p" in word)

True

In [45]:
print("z" in word)

False

In [46]:
person = {"name": "John", "age": 25}
print("name" in person)   # True
print("John" in person)   # False

True
False

**2. not in** ‚Üí Checks if something is not present

It‚Äôs just the opposite of in.

Asks: ‚ÄúIs this value missing from the collection?‚Äù

If it‚Äôs missing ‚Üí ‚úÖ True

If it‚Äôs there ‚Üí ‚ùå False

In [47]:
colors = ["red", "blue", "green"]
print("yellow" not in colors)

True

In [48]:
print("red" not in colors)

False

In [49]:
name = "Alice"
print("b" not in name)

True

In [50]:
bag = ["bottle", "pen", "book"]

print("pen" in bag)       # True (pen is inside)
print("phone" in bag)     # False (phone missing)
print("phone" not in bag) # True (phone not there)

True
False
True

# Functions:

**What Is a Function?**

A function is like a machine or a mini-program that does one specific job for you.

You give it some input, it does some work, and then gives you output ‚Äî simple!


**Why Use Functions?**

**Reusability** ‚Äì Write once, use many times.

**Cleaner Code** ‚Äì Easier to read and organize.

**Easy Updates** ‚Äì Change the logic in one place only.

**Avoid Repetition** ‚Äì No need to copy-paste same code everywhere.

**How to make your own functions?**

**Syntax**:


```Python
def function_name(parameter):  
    code of function
    return

**def** - define a function
**function_name(parameter)** - eg sum(2,3) : sum = function_name ; 2,3=parameters
**return** - sends back the value which we are returning and ends the function 
**Eg** - return 2+3  ; sends back 5 and ends the function

In [4]:
def nums(x,y):
    print(x+y)
    print(x-y)
    print(x*y)
    print(x/y)
    print(x**y)
    print(x//y)
    print(x%y)
    return

In [5]:
nums(4,6)

10
-2
24
0.6666666666666666
4096
0
4

In [6]:
nums(7,8)
nums(100,2)

15
-1
56
0.875
5764801
0
7
102
98
200
50.0
10000
50
0

**Input Function:**

What Is the input() Function?

In simple words:
input() is how your Python program talks to the user and asks for information.

It‚Äôs like a question your program asks, and the user types an answer.
Then Python stores that answer in a variable.

**Real-Life Example**

Imagine your program says:

‚ÄúWhat‚Äôs your name?‚Äù

You type:

‚ÄúAlice‚Äù

The program now remembers **"Alice"** ‚Äî that‚Äôs exactly what input() does!

In [1]:
x =input("What is your name?") # a string input , Botash
print(x)

Botash

In [2]:
def welcome_message(a):
    print("Welcome to the team,",a)

In [3]:
welcome_message(x)

Welcome to the team, Botash

In [5]:
x = int(input("Enter first number :")) # an interger input , 23
y = int(input("Enter second number :")) # 46
print(x)
print(y)

23
46

In [4]:
def add_2_nums(c,d):
    return c+d

In [5]:
sum_of_x_y = add_2_nums(x,y)
print(sum_of_x_y)

69

**String Manipulation**

String manipulation simply means changing, joining, cutting, or formatting text.

In real life, it‚Äôs like editing words in a sentence adding new ones, removing some, or checking if a word exists.

**1. Concatenation (Joining Strings)**

Use the + operator to join two or more strings together.

In [7]:
first_name = "Ravi"
last_name = "Kumar"
full_name = first_name + " " + last_name
print(full_name)

Ravi Kumar

In [9]:
# You can also join strings using , in print:
print("Hello", "World")

Hello World

**2. Repetition**

Use the * operator to repeat a string multiple times.

In [10]:
word = "Hi! "
print(word * 3)

Hi! Hi! Hi!

**3. Finding String Length**

Use len() to find how many characters are in a string.

In [11]:
text = "Python"
print(len(text))

6

**4. üéØ Accessing Characters (Indexing)**

Strings are like lists of characters.
Each character has a position number (index) starting from 0.

| Character | P | y | t | h | o | n |
| --------- | - | - | - | - | - | - |
| Index     | 0 | 1 | 2 | 3 | 4 | 5 |

In [12]:
text = "Python" # Forward Indexing
print(text[0])  # First character
print(text[5])  # Last character

P
n

In [15]:
# backward Indexing
print(text[-6])  # First character
print(text[-1])  # Last character

P
n

**5. Slicing Strings**

You can cut parts of a string using [start:end:step].

here : step is optional

In [16]:
text = "Python"
print(text[0:3])  # From index 0 to 2

Pyt

Note: The ending index is not included.

In [17]:
print(text[:4])   # From start to index 3
print(text[2:])   # From index 2 to end

Pyth
thon

**6. Changing Case**

In [18]:
name = "ravi kumar"
print(name.upper())  # ALL CAPS
print(name.lower())  # all small
print(name.title())  # First Letter Capital

RAVI KUMAR
ravi kumar
Ravi Kumar

**7. Checking Things Inside a String**

You can use the membership operators in and not in.

In [19]:
text = "I love Python"
print("Python" in text)      # True
print("Java" not in text)    # True

True
True

**8. Removing Extra Spaces**

In [20]:
text = "   Hello World   "
print(text.strip())

Hello World

.strip() ‚Üí removes spaces from both sides

.lstrip() ‚Üí removes spaces from the left

.rstrip() ‚Üí removes spaces from the right

In [21]:
print(text.lstrip(),1)

Hello World    1

In [22]:
print(text.rstrip(),1)

   Hello World 1

**9. Replacing Text**

In [23]:
text = "I love Java"
new_text = text.replace("Java", "Python")
print(new_text)

I love Python

**10. Splitting and Joining Strings**

Split = Break string into parts

Join = Combine parts back into a single string

In [25]:
sentence = "I love coding"
words = sentence.split()     # Splits by space
print(words)

['I', 'love', 'coding']

In [29]:
sentence = "I,love,coding"
words = sentence.split(,)     # Splits by comma
print(words)

SyntaxError: invalid syntax (3381590364.py, line 2)

In [30]:
sentence = "I,love,coding"
words = sentence.split(",")     # Splits by comma
print(words)

['I', 'love', 'coding']

Now join them:

In [32]:
joined = " ".join(words) # replaces commas by space
print(joined)

I love coding

In [33]:
joined = "a".join(words) # replaces commas by a
print(joined)

Ialoveacoding

# What Is Type Casting?

Type casting means changing one data type into another.
**In plain English:**

It‚Äôs like converting something from one form to another ‚Äî for example, turning a number into text or text into a number.

**Real-Life Example**

Imagine you wrote your age as "20" on paper (text).
If someone wants to do math with it, they can‚Äôt ‚Äî they must convert it to a number (20) first.

That‚Äôs what Python does using type casting.

**Why We Use Type Casting**

Python automatically decides the data type, but sometimes you need to change it yourself ‚Äî for example:

When reading input using input() (it gives strings)

When doing math with text numbers like "5"

When formatting or combining text and numbers

| Function  | Converts To            | Example    | Output |
| --------- | ---------------------- | ---------- | ------ |
| `int()`   | Integer (whole number) | `int(5.9)` | `5`    |
| `float()` | Decimal number         | `float(5)` | `5.0`  |
| `str()`   | String (text)          | `str(5)`   | `'5'`  |
| `bool()`  | Boolean (True/False)   | `bool(1)`  | `True` |

In [1]:
10=="10"

False

In [2]:
10==int("10")

True

In [3]:
age = input("Enter your age: ")  # Suppose you type 20
print(age + 5)

TypeError: can only concatenate str (not "int") to str

In [5]:
age = input("Enter your age: ")  # Suppose you type 20
age = int(age)
print(age + 5)

25

In [10]:
number = 5
print(type(number))
text = str(number)
print(type(text))
print("I have " + text + " apples.")

<class 'int'>
<class 'str'>
I have 5 apples.

In [11]:
x = 10
print(x)
y = float(x)
print(y)

10
10.0

In [12]:
price = 99.99
price = int(price)
print(price)

99

In [15]:
print(bool(0))    # False
print(bool(1))    # True
print(bool(""))   # False
print(bool("Hi")) # True

False
True
False
True

| From ‚Üí To        | Function        | Example   | Output |
| ---------------- | --------------- | --------- | ------ |
| String ‚Üí Integer | `int("10")`     | `"10"`    | `10`   |
| String ‚Üí Float   | `float("3.14")` | `"3.14"`  | `3.14` |
| Integer ‚Üí String | `str(25)`       | `25`      | `"25"` |
| Float ‚Üí Integer  | `int(7.9)`      | `7.9`     | `7`    |
| Integer ‚Üí Float  | `float(5)`      | `5`       | `5.0`  |
| Any ‚Üí Boolean    | `bool("Hello")` | `"Hello"` | `True` |

# What Is an if‚Äìelse Statement?

**In simple words:**
if‚Äìelse lets your program make decisions ‚Äî just like humans do.

It allows your code to choose between two or more actions depending on whether a condition is True or False.

**Real-Life Example**

**Imagine:**

If it‚Äôs raining, take an umbrella.
Otherwise, wear sunglasses.

That‚Äôs an if‚Äìelse decision!

In [17]:
raining = True
if raining:
    print("Take an umbrella")
else:
    print("Wear sunglasses")

Take an umbrella

In [18]:
raining =False

if raining:
    print("Take an umbrella")
else:
    print("Wear sunglasses")

Wear sunglasses

**Basic Syntax:**

```Python
if condition:
    # code runs if condition is True
else:
    # code runs if condition is False

In [19]:
# Example 1: Simple if Statement
age = 18

if age >= 18:
    print("You are an adult.")

You are an adult.

In [20]:
# Example 2: if‚Äìelse
age = 15

if age >= 18:
    print("You can vote.")
else:
    print("You are too young to vote.")

You are too young to vote.

**Example 3: if‚Äìelif‚Äìelse (Multiple Conditions)**

If you want to check more than one condition, use elif (which means else if).

In [21]:
marks = 85

if marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
elif marks >= 50:
    print("Grade: C")
else:
    print("Grade: F")

Grade: B

In [22]:
# Example 4: Nested if

# You can put an if inside another if.

age = 20
has_id = True

if age >= 18:
    if has_id:
        print("You can enter.")
    else:
        print("You need an ID.")
else:
    print("You are too young.")

You can enter.

In [24]:
# Example 5:Using if with Logical Operators

# You can combine conditions using and, or, not.

age = 25
citizen = True

if age >= 18 and citizen:
    print("You can vote.")
else:
    print("You cannot vote.")

You can vote.

In [25]:
# Example 6: Short if‚Äìelse (Ternary Operator)

# You can write an if‚Äìelse in one line (for simple cases).
age = 18
status = "Adult" if age >= 18 else "Minor"
print(status)

Adult

In [26]:
age = 17
status = "Adult" if age >= 18 else "Minor"
print(status)

Minor

In [29]:
number = int(input("Enter a number: "))

if number > 0:
    print("Positive")
elif number == 0:
    print("Zero")
else:
    print("Negative")

Negative

# Python Loops Explained in Layman Terms

## What Are Loops?
Loops let Python repeat actions automatically.  
Instead of writing the same code again and again, you tell Python to repeat it for you.

---

## 1. `for` Loop
### When to use:
Use a `for` loop when you know **how many times** something should repeat or when you want to go through items in a list.

### Layman example:
Imagine you have 5 chocolates. Instead of writing *eat chocolate* five times, you tell Python:

```python
for chocolate in range(5):
    print("Eating chocolate")

In [2]:
for name in ["Ram", "Shyam", "Riya"]:
    print(name)

Ram
Shyam
Riya

## 2. while Loop
### When to use:

Use a while loop when you want to repeat something until a condition becomes false.

Layman example:

Imagine filling a bucket with water.
You keep filling while the bucket is not full.

In [3]:
water = 0

while water < 10:
    print("Filling...")
    water += 1

Filling...
Filling...
Filling...
Filling...
Filling...
Filling...
Filling...
Filling...
Filling...
Filling...

| Loop Type      | When to Use                        | Example Thought                     |
| -------------- | ---------------------------------- | ----------------------------------- |
| **for loop**   | You know the number of repetitions | "Repeat this 10 times."             |
| **while loop** | Repeat until something changes     | "Do this until the bucket is full." |

# Python Lists Explained in Layman Terms

## What Is a List?
A **list** in Python is like a **shopping bag** where you can store many items together.

- You can put *numbers*, *words*, or *mixed items* inside it.
- You can change items anytime.
- You can add or remove things easily.

### Example:
```python
fruits = ["apple", "banana", "mango"]

**1. `append()`**

Adds an item at the end of the list.

In [14]:
fruits = ["apple", "banana"]
fruits.append("mango")  # ["apple", "banana", "mango"]

In [15]:
print(fruits)

['apple', 'banana', 'mango']

**2. `insert()`**

Adds an item at a specific position.

In [16]:
fruits.insert(1, "orange")  
# inserts at index 1 ‚Üí ["apple", "orange", "banana","mango"]

In [17]:
print(fruits)

['apple', 'orange', 'banana', 'mango']

**3. `remove()`**

Removes the first matching item.

In [19]:
fruits.remove("banana")

In [20]:
print(fruits)

['apple', 'orange', 'mango']

**4. `pop()`**

Removes and returns an item.
If you don‚Äôt give an index ‚Üí removes last item.

In [21]:
fruits.pop()      # removes last
print(fruits)

['apple', 'orange']

In [22]:
fruits.pop(1)     # removes item at index 1
print(fruits)

['apple']

**5. `sort()`**

Sorts the list in A‚ÄìZ (or 0‚Äì9) order.

In [23]:
numbers = [3, 1, 4, 2]
numbers.sort()   # [1, 2, 3, 4]

In [25]:
print(numbers)

[1, 2, 3, 4]

In [ ]:
numbers = [3, 1, 4, 2]
numbers.sort(reverse=True)   # [4,3,2,1]

In [27]:
print(numbers)

[4, 3, 2, 1]

**6. `reverse()`**

Reverses the list opposite order.

In [29]:
numbers.reverse()

In [30]:
print(numbers)

[1, 2, 3, 4]

**7. `count()`**

Counts how many times a value appears.

In [32]:
numbers = [1, 2, 2, 3]
numbers.count(2)  # 2

2

**8. `extend()`**

Add all items from another list.

In [33]:
a = [1, 2]
b = [3, 4]
a.extend(b)   # [1, 2, 3, 4]

In [34]:
print(a)

[1, 2, 3, 4]

**Accessing Items (Indexing)**

Index starts from 0.

In [37]:
fruits = ["apple", "banana", "mango"]
print(fruits[0])   # "apple"
print(fruits[2])   # "mango"

apple
mango

Negative indexing starts from the end:

In [38]:
fruits[-1]   # "mango"

'mango'

In [40]:
x = [x+1 for x in range(10)]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
x[:] # goes from start to end

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
x[1:5]# goes from 1 to 4

[2, 3, 4, 5]

In [46]:
x[::2]# goes from start to end and take a step of 2

[1, 3, 5, 7, 9]

In [47]:
x[::-1]# goes from start to end and take a step of -1 , reverses

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## Summary Table

| Feature | Meaning                      |
| ------- | ---------------------------- |
| List    | A bag that stores many items |
| append  | Add at end                   |
| insert  | Add at position              |
| remove  | Remove specific item         |
| pop     | Remove by index (or last)    |
| sort    | Arrange in order             |
| reverse | Flip the list                |
| count   | Count occurrences            |
| extend  | Merge lists                  |

# 2 Tuple (Like a Locked List)

## What is a Tuple?
A **tuple** is like a **sealed box** ‚Äî you can store items inside it, but after creating it, **you cannot change it**.

### Example:
```python
colors = ("red", "green", "blue")

<li>Can't add items

<li>Can't remove items

<li>Can't modify items

**Why Tuples?**

<li>Faster than lists

<li>Protect data from changes

<li>Can be used as dictionary keys

**Tuple Methods (Very Few Because It's Fixed)**

*1. `count()`*

Counts how many times a value appears.

In [48]:
colors = ("red", "green", "blue")
colors.count("red")

1

*2. `index()`*

Find the position of an item.

In [49]:
colors = ("red", "green", "blue")
colors.index("green")

1

## Dictionary (Like a Real-Life Dictionary)
**What is a Dictionary?**

A dictionary stores data in key‚Äìvalue pairs.
Think of it like a name ‚Üí phone number directory.

```python
    Example:
    student = {
        "name": "Rahul",
        "age": 20,
        "marks": 88
    }

<li>"name" ‚Üí "Rahul"

<li>"age" ‚Üí 20

<li>"marks" ‚Üí 88

**Common Dictionary Methods**

In [19]:
student = {
        "name": "Rahul",
        "age": 20,
        "marks": 88
    }
#OR
student = dict(name = "Rahul",
               age = 20,
               marks = 88)
student

{'name': 'Rahul', 'age': 20, 'marks': 88}

1. *`get()`*

Safely get a value.

In [8]:
student.get("name")

'Rahul'

2. *`keys()`*

Returns all keys.

In [9]:
student.keys()

dict_keys(['name', 'age', 'marks'])

3. *`values()`*

Returns all values.

In [10]:
student.values()

dict_values(['Rahul', 20, 88])

4. *`items()`*

Returns key‚Äìvalue pairs.

In [11]:
student.items()

dict_items([('name', 'Rahul'), ('age', 20), ('marks', 88)])

5. *`update()`*

Change or add new key‚Äìvalue pairs.

In [13]:
student.update({"age": 21})
student

{'name': 'Rahul', 'age': 21, 'marks': 88}

6. *`pop()`*

Remove a key and return its value.

In [20]:
student.pop("marks")

88

7. *`popitem()`*

Removes the last key‚Äìvalue pair.

In [3]:
student.popitem()

('marks', 88)

In [18]:
student

{'name': 'Rahul', 'age': 20}

8. *`clear()`*

Empties the dictionary.

In [5]:
student.clear()
student

{}

Accessing Values

In [21]:
student["name"]  # Rahul

'Rahul'

In [22]:
student["name"]  ="Jatin"
student

{'name': 'Jatin', 'age': 20}

In [24]:
print(student.get("City"))

None

In [26]:
print(student.get("City","No City Given")) # it defaults to 'No City Given'

No City Given

In [ ]:
student['City'] = "Gurgaon"
print(student.get("City","No City Given"))
print(student)

Gurgaon
{'name': 'Jatin', 'age': 20, 'City': 'Gurgaon'}



## What Is a Set?
A **set** in Python is like a **bag that automatically removes duplicates**.

- You can put many items inside.
- Python will **keep only unique items**.
- The order of items does **not** matter.
- You cannot access items using indexing (like list[0]).

### Example:
```python
numbers = {1, 2, 3, 3, 2}
print(numbers)  
# Output: {1, 2, 3}

**Why Sets Are Useful?**

<li>To remove duplicates from data

<li>To check if something exists (fast lookup)

<li>To compare groups of items

<li>To perform math-like operations (union, intersection, difference)

## Common Set Methods (Explained Simply)

In [39]:
s = {1, 2, 3, 3, 2}
print(s)

{1, 2, 3}

1. *`add()`*

Adds a new item to the set.

In [28]:
s = {1, 2}
s.add(3)  # {1, 2, 3}

In [29]:
s

{1, 2, 3}

2. *`remove()`*

Removes an item.
‚ùó Gives an error if the item doesn‚Äôt exist.

In [30]:
s.remove(2)
s

{1, 3}

In [31]:
s.remove(2)

KeyError: 2

3. *`discard()`*

Removes an item.

‚úîÔ∏è No error if the item doesn‚Äôt exist.

In [33]:
s.discard(2)

4. *`clear()`*

Removes everything from the set.

In [34]:
s.clear()  # now s = set()

In [35]:
s

set()

5. *`copy()`*

Makes a copy of the set.

In [40]:
new_set = s.copy()

In [41]:
new_set

{1, 2, 3}

## üîó Set Operations (VERY Important)

6. *`union()`*

Combines two sets (no duplicates).

In [46]:
a = {1, 2}
b = {2, 3}
a.union(b)  # {1, 2, 3}

{1, 2, 3}

7. *`intersection()`*

Keeps only common items.

In [47]:
a.intersection(b)  # {2}

{2}

8. *`difference()`*

Keeps items that are in A but not in B.

In [48]:
a.difference(b)  # {1}

{1}

9. *`symmetric_difference()`*

Items that are in A or B but not in both.

In [49]:
a.symmetric_difference(b)  # {1, 3}

{1, 3}

## üí° Key Things to Remember

<li>Sets remove duplicates automatically.

<li>Sets are unordered ‚Üí you can't do myset[0].

<li>Sets allow adding and removing items.

<li>Great for fast membership tests:

In [42]:
2 in {1, 2, 3}  # True

True

In [ ]:
a = {1,2,3}
b = a
c = a.copy()
print(a)
print(b)
print(c)

{1, 2, 3}
{1, 2, 3}
{1, 2, 3}

In [44]:
a.remove(2)
print(a)
print(b)
print(c)

{1, 3}
{1, 3}
{1, 2, 3}